.container-table {
  margin-top: 0;
  border: 1px solid #4a808c;
  border-radius: 0.4rem;
  max-height: 40rem;
  overflow-y: auto;
}

.container-table::-webkit-scrollbar {
  width: 0.6rem;
}

.container-table::-webkit-scrollbar-thumb {
  background-color: #4a808c;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table * {
  font-size: 2rem;
  color: var(--ft-table);
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

table th {
  background-color: var(--bg-header-table);
  padding: 1.6rem;
  text-align: left;
}

table th:first-child {
  border-top-left-radius: 0.4rem;
}

table th:last-child {
  border-top-right-radius: 0.4rem;
}

/*Seleciona as linhas pares da tabela*/
table tr:nth-child(even) {
  background: rgba(6, 22, 27, 0.5);
}

/*Seleciona as linhas impares da tabela*/
table tr:nth-child(odd) {
  background: #06181c;
  border-top: 1px solid #4a808c;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover; /*Faz a imagem cobrir todo espaço*/
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user p {
  font-weight: bold;
}

td.user span {
  font-weight: normal;
}

td .remove {
  border: none;
  background: none;
  color: var(--ft-remove);
  cursor: pointer;
  font-weight: 700;
}

.empty-list {
  width: 100%;
  background-color: transparent;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.empty-list img {
  width: 13.2rem;
}

.empty-list p {
  font-weight: 700;
  font-size: 4rem;
  line-height: 2.5rem;
  color: #4e5455;
}

@media (max-width: 1024px) {
  .container-table {
    width: 75%;
  }
  .empty-list img{
    width: 5rem;
  }
  .empty-list p{
    font-size: 3rem;
  }
}